body{
    font-family: 'Comfortaa';
    background: rgb(44, 45, 49);
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(25, 35, 60)), to(rgb(29, 29, 58)));
    background: -o-linear-gradient(bottom, rgb(33, 38, 56) 0%, rgb(35, 35, 56) 100%);
    background: linear-gradient(0deg, rgb(25, 33, 58) 0%, rgb(19, 19, 60) 100%);
}
.style{
    text-shadow: 0px 3px 10px #00d0ff;
    color: #00d0ff;
    font-size: 55px;
}
.investy-info-block{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.investy-info-div{
    max-width: 350px;
    width: 100%;
    height: 300px;
    color: #46C2FF;
    background-color: rgb(30, 30, 53);
    padding: 20px 0;
    margin-bottom: 15px;
    border: 3px solid #00d0ff;
    border-radius: 2px;
    box-shadow: 0px 2px 30px black;
    opacity: 70%;
    text-align: center;
}
.investy-info-div:hover{
    opacity: 100%;
}

.line{
    max-width: 200px;
    width: 100%;
    background-color: #00d0ff;
    border-color: #00d0ffd8;
}

.investy-img{
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.investy-img2{
    width: 100%;
    height: 180px;
    object-fit: cover; 
}
/* Header navigation */
.logo-icon{
    width: 45px;
}
.header-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    font-weight: 900;
    background-color: #1e1e45;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 150px rgb(0, 0, 0);
            box-shadow: 0px 0px 150px rgb(0, 0, 0);
    z-index: 6;
    -webkit-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    font-family: 'Comfortaa';
}

.nav-a{
    position: relative;
    padding: 10px 20px;
    margin: 0 5px;
    color: #00d0ff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.nav-a:hover{
    background: #00d0ff;
    border-radius: 6px;
    color:#ffffff;
    -webkit-box-shadow: 0 0 50px  #00d0ff;
            box-shadow: 0 0 50px  #00d0ff;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.nav-a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 6px;
    border-top: 2px solid  #00d0ff;
    border-left: 2px solid  #00d0ff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.nav-a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 6px;
    border-bottom: 2px solid  #00d0ff;
    border-right: 2px solid  #00d0ff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.nav-a:hover:before{
    width: 100%;
    height: 100%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.nav-a:hover:after{
    width: 100%;
    height: 100%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}


.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-transition: 0.5s;  
    -o-transition: 0.5s;  
    transition: 0.5s;
}
.nav-block{
    margin-right: 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.nav-li{
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    -webkit-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

/* Banner Background Image */
.banner-div{
    background-image: url('../img/Image-1.png');
    max-width: 80vh;
    width: 100%;
    height: 80vh;
    background-position: 30% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px auto 0px auto;
    position: relative;
    z-index: 5;
}
.title-banner{
    letter-spacing: 10px;
    font-size: 5vh;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 80%;
    font-family: 'Comfortaa';
    text-shadow: 0px 5px 30px #FFFFFF;
    text-align: center;
}

.title-banner
{
    text-transform: uppercase;
    background-image: -o-linear-gradient(
    315deg,
    #5333c9 0%,
    #711bcd 10%,
    #00fbff 29%,
    #ff00ea 67%,
    #e5ff00 100%
  );
    background-image: linear-gradient(
    -225deg,
    #5333c9 0%,
    #711bcd 10%,
    #00fbff 29%,
    #ff00fb 67%,
    #a2ff00 100%
  );
  
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: rgb(0, 255, 238)
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2.5s linear infinite;
          animation: textclip 2.5s linear infinite;
  display: inline-block;
      font-size: 40px;
      font-weight: 900;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* accourdion */
.title-investy{
    max-width: 500px;
    width: 100%;
    margin: 20px auto 30px auto;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.accordion-div{
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    background-color: #81b7f6;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 70%;
}
.accordion-div:hover{
    border: solid;
    border-color: #01a6f9;
    -webkit-box-shadow: 0px 2px 20px #00c8ff;
            box-shadow: 0px 2px 20px #00c8ff;
    opacity: 100%;
}
.accordion-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: relative;
    font-size: 18px;
    height: 0;
    color: white;
    overflow: hidden;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.accordion-div.active .accordion-text{
    height: 150px;
}
.accordion-div.active .accordion-title::before{
    font-family: FontAwesome;
    content: '\f106';
    font-size: 30px;
    font-weight: 900;
}
.accordion-title{
    position: relative;
    padding: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.accordion-title::before{
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.accordion-body{
    margin-top: 100px;
}
.section-one{
    margin-bottom: 150px;
}

/* section two - information about crypto */
.sectionTwo-title{
    letter-spacing: 10px;
    font-size: 70px;
    color: white;
    margin: 50px auto 80px auto;
    text-shadow: 0px 5px 30px #FFFFFF;
    text-align: center;
    font-family: 'Dancing Script';
    position: absolute;
    top: 0;
    left: 30%;
}
.sectionThree-title{
    letter-spacing: 10px;
    font-size: 55px;
    color: white;
    margin: 50px auto 80px auto;
    text-shadow: 0px 5px 30px #FFFFFF;
    text-align: center;
    font-family: 'Dancing Script';
}
.sectionFour-title{
    letter-spacing: 10px;
    font-size: 70px;
    color: white;
    margin: 120px auto 80px auto;
    text-shadow: 0px 5px 30px #FFFFFF;
    text-align: center;
    font-family: 'Dancing Script';
}
.sectionFour{
    margin-top: 200px;
}
.section-post-title{
    letter-spacing: 10px;
    font-size: 70px;
    color: white;
    margin: 50px auto 80px auto;
    text-shadow: 0px 5px 30px #FFFFFF;
    text-align: center;
    font-family: 'Dancing Script';
}

.crypto-block{
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid rgb(146, 146, 146);
    color: #FFFFFF;
}
.crypto-div{
    background-image: url('../img/wallpaper.webp');
    width: 100%;
    height: 95vh;
    background-position: 30% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px auto 0px auto;
    -webkit-box-shadow: 0px 0px 50px rgb(10, 6, 62);
            box-shadow: 0px 0px 50px rgb(10, 6, 62);
    position: relative;
}

.coin-section-div{
    background-image: url('../img/machine.png');
    width: 100%;
    height: 125vh;
    background-position: 30% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px auto 0px auto;
    box-shadow: 0px 0px 50px rgb(10, 6, 62);
    position: relative;
}
.crypto-div::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 82, 0.788);
    display: inline-block;
    position: relative;
    opacity: 60%;
}
.crypto-main-block{
    max-width: 800px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: #1B203E;
    padding: 3px 35px 20px 35px;
    border-radius: 7px;
    opacity: 80%;  
}
.table-titles{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #FFFFFF;
    padding: 10px 110px 0px 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px rgb(152, 216, 255);
}


.view-div{
    border: 15px 15px 15px white;
    cursor: pointer;
    border: 2px solid rgba(86, 218, 255, 0.425);
    font-size: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.view-div:hover{
    background-color:rgba(152, 216, 255, 0.352); ;
}
.view-text{
    color: #FFFFFF;
}
.crypto-name{
    max-width: 120px;
    width: 100%;
}
.crypto-logo{
    max-width: 40px;
    width: 100%;
}
.crypto-chart{
    max-width: 120px;
    width: 100%;
    opacity: 60%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}
.crypto-chart:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 100%;

}

/* section three information abouts stocks */

.chart-linear{
    max-width: 500px;
    width: 100%;
    margin: 80px  auto;
}
.chart-donut{
    max-width: 900px;
    width: 100%;
    margin: 80px auto;

}
.chart-linear-block{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.trading-block{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
.container{
    margin-right: 20px;
}


/* NFT */
.top-nft-title{
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    margin: 100px auto 100px auto;
    text-shadow: 0px 5px 30px #ffffff;
    text-align: center;
}
.nft-img{
    margin: 0px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #ffaa00;
}

.nft-block{
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.top-nft-div{
    max-width: 300px;
    width: 100%;
    text-align: center;
    padding: 5px;
    opacity: 60%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.top-nft-div:hover{
    opacity: 100%;
}
.text-nft{
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
}

.creators-img{
    width: 100%;
    height: 570px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.creators-img:hover{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.price-div,
.creator-name-div{
    width: 100%;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.creators-describe{
    margin: 15px;
}
.creators-title{
    font-weight: 900;
}

/* style slider */
.slider-block{
    position: relative;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slider-content{
    width: 80%;
    height: 75%;
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 5px solid #ffaa00;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 50px rgb(0, 153, 255);
            box-shadow: 0px 5px 50px rgb(0, 153, 255);
}
.arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 800;
    border-radius: 15px;
    background-color: #3c3c3c00;
    color:  #080808c2;
    border: none;
    font-size: 50px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);

}

.arrow:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color:  #080808d0;
}
.right{
    right: 15%; 
}
.left{
    left: 15%; 
}
.a-link{    
    max-width: 150px;
    width: 100%;
    height: 80px;
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
    vertical-align: middle;
    opacity: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 60px;
    -webkit-transition: -webkit-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
    -o-transition: box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.h2-link{
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    opacity: 80%;
}
.active-li{
    border: solid;
    border-width: 0.5px;
    border-color: rgb(169, 138, 248);
    
}
.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 15%;
    cursor: pointer;
}
.dot.active {
    background: -webkit-gradient(linear, left bottom, right top, from(#000105f6), to(#252626bc));
    background: -o-linear-gradient(bottom left, #000105f6 0%, #252626bc 100%);
    background: linear-gradient(to top right, #000105f6 0%, #252626bc 100%);
    opacity: 100%;
}

/* posts */

/* style section and posts*/
.post-div{
    max-width: 450px;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 81% 19% 81% 19% / 5% 100% 5% 100%;
    background:  #2980b9;
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 166, 128)), color-stop(87%, rgb(0, 157, 255)));
    background: -o-linear-gradient(left, rgb(0, 166, 128) 0%, rgb(0, 157, 255) 87%);
    background: linear-gradient(90deg, rgb(0, 166, 128) 0%, rgb(0, 157, 255) 87%);
    opacity: 70%;
    padding: 15px;
    margin-bottom: 20px; 
    -webkit-transition: 0.5s; 
    -o-transition: 0.5s; 
    transition: 0.5s;
}
.post-div:hover{
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
    cursor: pointer;
    opacity: 90%;
    -webkit-box-shadow: 0px 0px 30px rgba(35, 255, 237, 0.689);
            box-shadow: 0px 0px 30px rgba(35, 255, 237, 0.689);
}
.view-post{
    margin-left: 60%;
    margin-top: 10%;
    background-color: #ff993300;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Comfortaa';
}
.view-post {
    color: #fff;
    text-decoration: none;
    position: relative;
}
.view-post:after {    
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(255, 255, 255);
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.view-post:hover:after { 
    width: 100%; 
    left: 0; 
}
.main-post-block{
    max-width: 1000px;
    margin: 100px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px; 
}
.h2-title{
    font-size: 20px;
    font-weight: 900;  
    text-shadow: 0px 15px 15px #ffffffd1;
}

.title{
    font-size: 25px;
    margin-top: 5px;
    font-weight: 900;
}

.title-investy{
    font-size: 25px;
}

/*style post card that opens after click */
.post-card{
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    max-width: 700px;
    width: 100%;
    height: 350px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(248, 201, 255)), color-stop(87%, rgb(180, 226, 255)));
    background: -o-linear-gradient(left, rgb(248, 201, 255) 0%, rgb(180, 226, 255) 87%);
    background: linear-gradient(90deg, rgb(248, 201, 255) 0%, rgb(180, 226, 255) 87%);
    border-radius: 81% 19% 81% 19% / 5% 100% 5% 100%;
    -webkit-box-shadow: 0px 0px 30px rgb(255, 255, 255);
            box-shadow: 0px 0px 30px rgb(255, 255, 255);
    margin: 0 auto;
    display: none;
    padding: 40px;
    z-index: 15;
}
.post-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: middle;
    text-align: center;
    color: rgb(11, 11, 11); 
}
.close-icon{
    position: absolute;
    top: 4%;
    right: 13%;
    font-size: 25px;
    color: rgb(35, 99, 134);
    cursor: pointer;
}
.post-title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10%;
}
.post-description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 5%;
}
.active-post{
    display: block;
}


/* Form style */
.mainForm{
    max-width: 700px;
    width: 100%;
    color: white;
    background-color: #15172b;
    margin: 50px auto;
    padding: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 30px #15172b;
            box-shadow: 0px 5px 30px #15172b;
    
}
.input{
    width: 95%;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #eee;
    font-size: 15px;
    height: 40px;
    outline: 0;
    padding: 4px 20px 0;
    margin-top: 12px;
}
.error-text{
    display: block;
    color: rgb(255, 67, 42);
    margin-bottom: 25px;
}
#toggleIcon{
    color: #81b7f6;
}
.saveButton{
    width: 95%;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #81b7f6;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.saveButton:hover{
    background-color: #06acff;
}
.form-title{
    font-weight: 900;
    margin-bottom: 15px;
    text-align: center;
}
.scroll{
    background-color: rgba(34,34,34,0.8);
}

/* burger bar */
.burger-child{
    width: 40px;
    height: 5px;
    background-color: #00d0ff;
    margin-top: 7px;
    border-radius: 7px;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}
.burger-bar{
    position: absolute;
    top:20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    display: none;
    cursor: pointer;    
}


/* footer */
.footer-left-block{
    max-width: 300px;
    width: 100%;
    color: white;
    margin-top: 30px;
}
.title-footer{
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 900;
}
.text{
    max-width: 260px;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}

.social-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.footer-block{
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #21212E;
    font-family: 'Comfortaa';
}
.footer-right-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    max-width: 1000px;
    width: 100%;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 100px;
}
.p-block::before{
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 8px;
    vertical-align: middle;
}
.email-before::before{
    background-image: url("../img/mail.png");
}
.phone-before::before{
    background-image: url("../img/phone.png");
}
.map-before::before{
    background-image: url("../img/map-pin.png");
}
.p-text{
    margin-bottom: 15px;
    color: #81b7f6;
    font-weight: 600;
}
.p-block{
    margin-bottom: 20px;
}
.footer{
    position: relative;
}
.footer-copyright{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Comfortaa';
    color: white;
    position: absolute;
    top:90%;
    left: 0%;
}
.date-block{
    background-color: #21212E;
    color: white;
}
.icon-block{
    background-color: #5863F8;
    color: white;
    max-width: 50px;
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
}
.change{
    max-width: 30px;
    width: 100%;
    height: 30px;
    margin-right: 10px;
}
.twitter{
    background-color: #55ACEE;
}
.google{
    background-color: #DC4E41;
}

/* flip-card */
.creators-block{
    max-width: 1000px;
    margin: 60px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flip-card {
    background-color: transparent;
    max-width: 450px;
    height: 700px;
    width: 100%;
    margin-bottom: 60px;
    
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    -o-transition: transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .flip-card-front {
    -webkit-box-shadow: rgb(0 238 255) 0px 3px 35px;
            box-shadow: rgb(0 238 255) 0px 3px 35px;
    background-color: rgba(64, 63, 64, 0.471);
    border-radius: 7px;
    color: white;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    border-radius: 7px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    letter-spacing: 3px;
    line-height: 40px;
  }



/* coin block style */

.coin-icon{
    max-width: 31px;
    margin: 5px 0px;
    width: 100%;
}
.coin-div{
    max-width: 200px;
    width: 100%;
    height: 109px;
    border: 3px solid rgb(0, 255, 255);
    background-color: rgba(0, 0, 0, 0.314);
    margin: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.coin-div:hover{
    background-color: rgba(0, 255, 255, 0.358);
    box-shadow:  0px 5px 20px rgba(0, 255, 255, 0.618);
}
.coin-title{
    font-size: 20px;
    margin-bottom: 5px;
}


/* Style page 2 - Service */
.portfolio-block{
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;
}
.portfolio-div{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px 50px 200px 200px;
    background: linear-gradient(90deg, rgb(182, 81, 193) 0%, rgb(53, 48, 152) 97%);
    opacity: 70%;
    transition: 0.5s;
    margin-bottom: 50px;
}
.portfolio-div:hover{
    opacity: 100%;
    box-shadow: 0px 5px 30px rgba(103, 154, 202, 0.97);
    cursor: pointer;
}
.portfolio-img{
    width: 40%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    transform: scale(0.95);
	transition: .3s ease-in-out;
}
.portfolio-img:hover{
    transform: scale(1);
}
.portfolio-item-title{
    font-weight: 900;
    font-size: 20px;
}
.delete-portfolio-button{
    border-radius: 8px;
    border: none;
    margin: 20px auto 20px auto;
    height: 30px;
    width: 100px;
    background-color: #00000053;
    color: white;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    font-family: 'Comfortaa';    
}
.delete-portfolio-button:hover{
    background-color:#070707a5;
    box-shadow: 0px 0px 15px #1212128a;
}
.service-card{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.96);
    border-radius: 7px;
    box-shadow: 0px 0px 30px rgb(219, 194, 192);
    display: none;
}

/* style add new Portfolio*/
.add-portfolio-icon{
    max-width: 250px;
    width: 100%;
    height: 80px;
    margin: 20px auto;
    background-color:#bda89e00; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0px 2px 10px 0px rgb(2, 183, 255);
    cursor: pointer;
    border: solid;
    border-radius: 25px;
    border-color:rgb(127, 214, 255);
    border-width: 3px;
    transition: 0.3s;
}
.add-portfolio-icon:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgb(36, 197, 255);
}
.portfolio-describe{
    word-break: break-all;
    padding-left: 10px;
    padding-right: 13px;
}

/* Style form */
.portfolio-form-block{
    display: none;
}
.service-form{
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 11%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(27, 30, 52, 0.973);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    color: #4aa4ff;
    z-index: 3;
}
.newservice-title{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
}
.horizontal-line{
    max-width: 500px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.573);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.703);
    margin-bottom: 10px;
    padding: 0;
}
.closesave-buttons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
}
input[type="text"], textarea,
input[type="email"]{
    font-family: 'Comfortaa';

}
#service-title{
    outline: none;
    border: none;
    border-bottom: 0px solid  rgb(146, 145, 145);
    margin-top: 8px;
}
#service-description{
    outline: none;
    border: 1px solid  rgb(0, 0, 0);
    margin-top: 10px;
    height: 70px;
}
.span-error{
    margin: 8px;
    color: rgb(255, 86, 86);
}
input[type=file]::file-selector-button {
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: #5081cba1;
    transition: 1s;
    cursor: pointer;
    font-family: 'Comfortaa';
    color: #afdbff;
}
input[type=file]::file-selector-button:hover{
    background-color: #c6bdd5c8;
    color: #afdbff;
}
.close-portfolio-button,
.save-portfolio-button{
    margin: 0px 10px 0px 10px;
    border: #bda89e;
    border-radius: 7px;
    cursor: pointer;
    transition: 1s;
    background-color: #3d8acdcc;
    font-family: 'Comfortaa';
    color: #afdbff;
}

.close-portfolio-button:hover{
    background-color: #c6bdd5c8;
    color: #ffffff;
}
.save-portfolio-button:hover{
    background-color:  #c6bdd5c8;
    color: #ffffff;
}

.active-post{
    display: block;
}


/* 11111111111111111111 */
form {
    width: 400px;
    margin: 50px auto;
}

.title-input {
    display: block;
    width: 400px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    background: rgba(79, 113, 175, 0.417);
    outline-style: dotted;
    outline-width: 0.1px;
    outline-color: #00d0ff;
    color: #56d2ff;
    
}
  
textarea {
    display: block;
    width: 400px;
    height: 150px;
    padding: 8px 12px 10px 12px;
    border: 0px solid rgba(0,0,0,.5);
    border-radius: 15px;
    background: rgba(79, 113, 175, 0.417);
    outline: none;
}
.titleLabel,
.file-select{
    margin-bottom: 10px;
}
.stock-ul{
    text-align: center;
   color:  rgba(79, 113, 175, 0.417);
}
.stock-li{
    margin-top: 15px;
}
.chart-color{
    color: #087891;
    font-weight: 900;
}
.coin-block{
    position: absolute;
}